<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Predicted Salary ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
 <div>
<body style="background-color:#2471A3 ;">
<div style = "position:absolute; left:480px; top:180px; background-color:#2471A3;">

	<h1 style="text-align:center;">Predict Salary Analysis Model</h1>
	
   
   

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    
    	<input type="text" name="experience" placeholder="Experience" required="required" />
        <input type="text" name="test_score" placeholder="Test Score" required="required" />
		<input type="text" name="interview_score" placeholder="Interview Score" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
        <h2 style="text-align:center">DevMLOps_Project</h2>
         <h3 style="text-align:center">By Mohit Chatterjee</h3>
        
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
